<!-- views/error.ejs -->

<!doctype html>
<html>
<head>
    <title>Audio Cast Desktop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body style=width: 520px;">s
    <div class="jumbotron">
        <div class="container">
            <h1>Error</h1>
            <p>You have encoutered an error! We will inspect logs later...or not, go back <a href="/">home</a>.</p>
        </div>
    </div>
</body>
</html>